.hidden-slide {
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
  transform: translateX(-100%);
}
.slide {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.activity:nth-child(2) {
  transition-delay: 200ms;
}
.activity:nth-child(3) {
  transition-delay: 400ms;
}
.activity:nth-child(4) {
  transition-delay: 600ms;
}
/*
const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
        entry.target.classList.add("show");
    } else {
      entry.target.classList.remove("show", "slide");
    }
  });
});

const hiddenElements = document.querySelectorAll(
  ".hidden"
);
hiddenElements.forEach((el) => observer.observe(el))
*/
