<div
  style="
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
  "
>
  <title>Home</title>
  <h1>Home</h1>
  <ul style="font-size: 1rem; list-style: none; display: flex; gap: 1rem">
    <li style="background-color: #eeeeee; padding: 5px; border-radius: 5px">
      <a id="movies" style="color: black; text-decoration: none" href="/movies/"
        >movies</a
      >
    </li>
    <li style="background-color: #eeeeee; padding: 5px; border-radius: 5px">
      <a id="admin" style="color: black; text-decoration: none" href="/admin"
        >admin</a
      >
    </li>
  </ul>
</div>
