:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin-top: 72px;
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
}
section {
  display: block;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  width: 100%;
  background-color: rgb(224, 224, 224);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.3;
}
ul {
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  cursor: pointer;
  text-decoration: none;
}
input {
  margin-bottom: 5px;
  min-height: 25px;
}
button {
  background-color: white;
  color: rgb(129, 129, 129);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(190, 190, 190);
}
.top-bar {
  background-color: rgb(230, 230, 230);
  padding: 0 48px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  width: calc(100% - 96px);
  max-width: 100%;
}
.logo {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar img {
  height: 40px;
  width: 40px;
}
.auth-wrapper {
  grid-column: span 9;
  justify-self: end;
  justify-content: flex-end;
  float: right;
  list-style: none;
  height: 40px;
  display: flex;
  gap: 24px;
  align-items: center;
  padding-bottom: 0px;
  padding-right: 8px;
}
.container {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url("bg.gif");
  background-size: cover;
  background-position: center;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: black;
}

.banner {
  background-color: rgba(236, 236, 236, 0.65);
  min-height: 200px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  transition: height 0.5s ease;
}

#bannerText {
  color: black;
  font-size: 24px;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  text-align: center;
}
#bannerText.hide {
  opacity: 0;
}
#bannerText.show {
  opacity: 1;
}

#register-message {
  color: red;
  font-weight: bold;
  size: 16px;
}
#login-message {
  color: red;
  font-weight: bold;
  size: 16px;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
.carousel-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.slide-img {
  flex: 0 0 100%;
  height: 100%;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-text {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  z-index: 999;
}
.read-more {
  background-color: white;
  color: rgb(78, 78, 78);
  border: none;
  padding: 20px;
  font-size: 1rem;
  border-radius: 10px;
}
#logoutButton {
  display: none;
}
#msgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 350px;
}
.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.register-wrapper button {
  width: 100px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px;
  font-weight: bold;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 350px;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-wrapper button {
  width: 100px;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 4px;
  font-weight: bold;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.logout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease;
}
.scrim.show {
  display: flex;
  animation: fadeIn 1s forwards;
}
.scrim.hide {
  animation: fadeOut 1s forwards;
}
#cancelModal {
  display: flex;
  background-color: green;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 4px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: white;
}
.button-wrapper {
  display: flex;
  gap: 10px;
}
#cancelModal:hover {
  background-color: rgb(0, 80, 0);
}
#logoutModal {
  color: white;
  display: flex;
  background-color: rgb(243, 54, 54);
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 4px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
#logoutModal:hover {
  background-color: rgb(145, 0, 0);
}
.modal-content {
  display: none;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-content-2 {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  max-width: 900px;
  max-height: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #707072;
  justify-content: space-between;
}
.modal-content-2 img {
  top: 0px;
  width: 100%;
  height: auto;
  max-height: 60%;
  flex: 1 1 auto;
  object-fit: cover;
}
.modal-content-2 h4 {
  font-size: 24px;
}
.close-button {
  cursor: pointer;
  font-size: 20px;
  color: black;
}
.content-container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
#modal-footer {
  background-color: rgb(240, 240, 240);
  margin-top: 20px;
  width: 100%;
}
.activity {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3 ease;
}
.activity h3 {
  position: absolute;
  top: 35%;
  margin: 0;
  font-size: 1.6rem;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.activity:hover {
  transform: scale(1.05);
}
.content-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.content-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}
.content-header p {
  margin-bottom: 0;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #4e66f8;
  text-transform: uppercase;
  text-align: center;
}
.content-header h2 {
  margin-bottom: 0;
  font-size: calc(1.325rem + 0.9%);
}
.info-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#col {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-wrapper span {
  padding-top: 4px;
}
.info-wrapper h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
}
.header-container {
  font-size: 32px;
}
.video-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.banner-2 {
  display: flex;
  position: absolute;
  top: 20px;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}
.banner-2-content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.image-container-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4rem;
}
.image-container-2 a {
  text-decoration: none;
  color: white;
}

.hidden-slide {
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
  transform: translateX(-100%);
}
.hidden-slide-left {
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
  transform: translateX(-100%);
}
.hidden-slide-right {
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
  transform: translateX(100%);
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: 1s ease;
}
.show {
  opacity: 1;
  filter: blur(0);
}

.slide {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.show:nth-child(1) {
  transition-delay: 0.5s;
}
.show:nth-child(2) {
  transition-delay: 1s;
}
.show:nth-child(3) {
  transition-delay: 1.5s;
}
.activity:hover {
  transform: scale(1.05);
}
.image-container-2 a:nth-child(1) .activity {
  background-image: url("9.jpg");
}

.image-container-2 a:nth-child(2) .activity {
  background-image: url("10.jpg");
  transition-delay: 200ms;
}

.image-container-2 a:nth-child(3) .activity {
  background-image: url("11.jpg");
  transition-delay: 400ms;
}

.image-container-2 a:nth-child(4) .activity {
  background-image: url("12.jpg");
  transition-delay: 600ms;
}
.hidden-slide-right:nth-child(2) {
  transition-delay: 100ms;
}
.hidden-slide-left:nth-child(2) {
  transition-delay: 100ms;
}
.hidden-slide-right:nth-child(3) {
  transition-delay: 200ms;
}
.hidden-slide-left:nth-child(3) {
  transition-delay: 200ms;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
